<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Crop Recommendation System</h1>
    <form action="/predict" method="POST">
        <label for="N">N:</label>
        <input type="number" id="N" name="N" required><br>

        <label for="P">P:</label>
        <input type="number" id="P" name="P" required><br>

        <label for="K">K:</label>
        <input type="number" id="K" name="K" required><br>

        <label for="temperature">Temperature:</label>
        <input type="number" id="temperature" name="temperature" required><br>

        <label for="humidity">Humidity:</label>
        <input type="number" id="humidity" name="humidity" required><br>

        <label for="ph">pH:</label>
        <input type="number" id="ph" name="ph" required><br>

        <label for="rainfall">Rainfall:</label>
        <input type="number" id="rainfall" name="rainfall" required><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
    <h2>{{ prediction_text }}</h2>
    {% endif %}
</body>
</html>
